<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-onsenui@2.6.2/dist/vue-onsenui.min.js"></script>

    <script>
        ons.platform.select('android')
    </script>
    <link href="static/css/index.css" rel="stylesheet">

    <title>Smart Campus - Main</title>
</head>

<body>
    <template id="main">
        <v-ons-splitter>
            <v-ons-splitter-side swipeable width="100%" collapse="" side="left" :open.sync="openSide">
                <v-ons-page>
                    <div style="padding: 10px 10px 0 10px">
                        <div>
                            <img src="https://via.placeholder.com/70" alt="Avatar" style="border-radius: 50%">
                            <p>
                                Chong Bing Sheng
                            </p>
                            <p>U1520033F</p>
                        </div>
                        <p style="text-align: right">Settings</p>
                    </div>
                    <v-ons-list>
                        <v-ons-list-item v-for="pagefull,page in pages" tappable modifier="chevron" @click="currentPage = page; openSide = false">
                            <div class="left">
                                <img class="list-item__thumbnail" :src="imgsrc[page]" alt="Cute kitten">
                            </div>
                            <div class="center">{{ pagefull }}</div>
                        </v-ons-list-item>
                    </v-ons-list>
                </v-ons-page>
            </v-ons-splitter-side>

            <v-ons-splitter-content>
                <component :is="currentPage" :title="currentPage" :titlefull="pages" :toggle-menu="() => openSide = !openSide"
                    :pay-menu="() => currentPage = 'food'"></component>
            </v-ons-splitter-content>
        </v-ons-splitter>
    </template>

    <template id="home">
        <v-ons-page>
            <custom-toolbar title="Home" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                Welcome home.
            </p>

            <p style="text-align: center">
                Your registered events
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>

            <p style="text-align: center">
                Your lifestyle
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>

            <p style="text-align: center">
                What's going on in campus?
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>

            <p style="text-align: center">
                Functions
            </p>
            <ons-row>
                <ons-col width="30%">
                    <div style="padding-left:20%">
                        <v-ons-button>
                            <img src="static/src/food.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/library.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/faulty.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                    </div>
                </ons-col>
                <ons-col width="30%">
                    <div style="padding-left:20%">
                        <v-ons-button>
                            <img src="static/src/bus.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/booking.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                    </div>
                </ons-col>
                <ons-col width="30%">
                    <div style="padding-left:20%">
                        <v-ons-button>
                            <img src="static/src/bike.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/clinic.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                    </div>
                </ons-col>
            </ons-row>
        </v-ons-page>
    </template>

    <template id="food">
        <v-ons-page>
            <custom-toolbar title="Food Payment" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                Food payment.
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>
        </v-ons-page>
    </template>

    <template id="temp">
        <v-ons-page>
            <custom-toolbar :title="title" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                {{ titlefull[title] }}.
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>
        </v-ons-page>
    </template>

    <template id="library">
        <v-ons-page>
            <custom-toolbar :title="title" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                {{ titlefull[title] }}.
            </p>
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="33%" valign="top" style="border-right:1px dotted #828282;">
                            <div class="section-thumbs ">
                                <a href="/Library/Pages/request.aspx">
                                    <img src="static/src/r1.jpg" border="0" alt="" style="width:100%">
                                    <p>Request or renew materials</p>
                                </a></div>
                        </td>
                        <td width="33%" valign="top" style="border-right:1px dotted #828282;">
                            <div class="section-thumbs ">
                                <a href="/Library/Pages/spaces.aspx">
                                    <img src="static/src/r2.jpg" border="0" alt="" style="width:100%">
                                    <p>Book spaces or equipment<br></p>
                                </a></div>
                        </td>
                        <td width="33%" valign="top">
                            <div class="section-thumbs ">
                                <a href="/Library/Pages/expert.aspx">
                                    <img src="static/src/r3.jpg" border="0" alt="" style="width:100%">
                                    <p>Get expert advice</p>
                                </a></div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="border-top:1px dotted #828282;border-right:1px dotted #828282;">
                            <div class="section-thumbs ">
                                <a href="/Library/Pages/teaching.aspx">
                                    <img src="static/src/r4.jpg" border="0" alt="" style="width:100%">
                                    <p>Teaching &amp; learning support</p>
                                </a></div>
                        </td>
                        <td valign="top" style="border-top:1px dotted #828282;border-right:1px dotted #828282;">
                            <div class="section-thumbs ">
                                <a href="/Library/Pages/research.aspx">
                                    <img src="static/src/r5.jpg" border="0" alt="" style="width:100%">
                                    <p>Research &amp; publishing support</p>
                                </a></div>
                        </td>
                        <td valign="top" style="border-top:1px dotted #828282;">
                            <div class="section-thumbs ">
                                <a href="/Library/Pages/about.aspx">
                                    <img src="static/src/r6.jpg" border="0" alt="" style="width:100%">
                                    <p>About NTU Library</p>
                                </a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </v-ons-page>
    </template>

    <template id="toolbar">
        <v-ons-toolbar class="toolbar toolbar--transparent">
            <div class="left">
                <v-ons-toolbar-button @click="action">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">{{ title }}</div>
            <div class="right">
                <v-ons-toolbar-button @click="pay">
                    <v-ons-icon icon="wallet"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
    </template>

    <div id="app"></div>
    <script src="static/js/index.js"></script>
</body>

</html>