<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-onsenui@2.6.2/dist/vue-onsenui.min.js"></script>

    <script>
        ons.platform.select('android')
    </script>
    <link href="static/css/index.css" rel="stylesheet">

    <title>Smart Campus - Main</title>
</head>

<body>
    <template id="main">
        <v-ons-splitter>
            <v-ons-splitter-side swipeable width="100%" collapse="" side="left" :open.sync="openSide">
                <v-ons-page>
                    <input type="search" value="" placeholder="Search" class="search-input search-input--material"
                        style="width:90%;margin-inline-start: 5%;margin-inline-end: 5%">
                    <v-ons-list>
                        <v-ons-list-item v-for="pagefull,page in pages" tappable modifier="chevron" @click="currentPage = page; openSide = false">
                            <div class="center">{{ pagefull }}</div>
                        </v-ons-list-item>
                    </v-ons-list>
                </v-ons-page>
            </v-ons-splitter-side>

            <v-ons-splitter-content>
                <component :is="currentPage" :title="currentPage" :titlefull="pages" :toggle-menu="() => openSide = !openSide"
                    :pay-menu="() => currentPage = 'food'"></component>
            </v-ons-splitter-content>
        </v-ons-splitter>
    </template>

    <template id="home">
        <v-ons-page>
            <custom-toolbar title="Home" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                Welcome home.
            </p>

            <p style="text-align: center">
                Your registered events
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>

            <p style="text-align: center">
                Your lifestyle
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>

            <p style="text-align: center">
                What's going on in campus?
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>

            <p style="text-align: center">
                Functions
            </p>
            <ons-row>
                <ons-col width="30%">
                    <div style="padding-left:20%">
                        <v-ons-button>
                            <img src="static/src/food.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/library.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/faulty.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                    </div>
                </ons-col>
                <ons-col width="30%">
                    <div style="padding-left:20%">
                        <v-ons-button>
                            <img src="static/src/bus.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/booking.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                    </div>
                </ons-col>
                <ons-col width="30%">
                    <div style="padding-left:20%">
                        <v-ons-button>
                            <img src="static/src/bike.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                        <v-ons-button>
                            <img src="static/src/clinic.png" alt="Payment" style="width: 2em">
                        </v-ons-button>
                    </div>
                </ons-col>
            </ons-row>
        </v-ons-page>
    </template>

    <template id="food">
        <v-ons-page>
            <custom-toolbar title="Food Payment" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                Food payment.
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>
        </v-ons-page>
    </template>

    <template id="temp">
        <v-ons-page>
            <custom-toolbar :title="title" :action="toggleMenu" :pay="payMenu"></custom-toolbar>
            <p style="text-align: center">
                {{ titlefull[title] }}.
            </p>
            <v-ons-card>
                <div class="title">
                    Hack-and-roll
                </div>
                <ons-row class="content">
                    <ons-col width="30%"><img src="https://monaca.io/img/logos/download_image_onsenui_01.png" alt="Onsen UI"
                            style="width: 100%">
                    </ons-col>
                    <ons-col width="10%">

                    </ons-col>
                    <ons-col width="60%">
                        <div>
                            <v-ons-button>
                                View details
                            </v-ons-button>
                            <v-ons-button>
                                <v-ons-icon icon="ion-share"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </v-ons-card>
        </v-ons-page>
    </template>

    <template id="toolbar">
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button @click="action">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">{{ title }}</div>
            <div class="right">
                <v-ons-toolbar-button @click="pay">
                    <v-ons-icon icon="wallet"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
    </template>

    <div id="app"></div>
    <script src="static/js/index.js"></script>
</body>

</html>