<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="static/css/index.css" rel="stylesheet">

    <title>Smart Campus - Main</title>
</head>

<body>
    <div id="app">
        <div class="full-width center-content">
            <hello-component v-bind:message="message" />
        </div>
    </div>
    <script src="static/js/components/helloComponent.js"></script>
    <script src="static/js/index.js"></script>
</body>

</html>