<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Live chat </title>
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='/img/icon.jpg')}}" />
<link href="{{url_for('static', filename='main.css')}}" rel="stylesheet"></head>

<body>
	<div class="login-page">
		<div class="form">
			<form class="login-form" method="GET" action="/food/order_food">
				<h2>Your order is being sent!</h2>
				<br/>
				<p>You will receive an email when your food is ready for collection!</p>
				<br/>
				<h3	>Balance: {{ balance }}</h3>
				<br/>
				<button>Back</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='signup.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='login.js')}}"></script>
</body>

</html>