<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Event Registration @ NTU</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='/img/icon.jpg')}}" />
	<link href="{{url_for('static', filename='main.css')}}" rel="stylesheet"></head>

<body>
	<div class="login-page">
		<div class="form">
			<form class="login-form" method="GET" action="/">
				<h2>Your Profile Page</h2>
				<br/>
				<img style="width:200px;height:200px;border:0;" src="{{url_for('static', filename='image.png')}}">
				<p>This is your Matric Card's QR code.</p>
				<br/>
				<p>Scan here to take attendance, access school facilities, make payments, etc.</p>
				<br/>
				<h2>User Information</h2>
				<br/>
				<div style="text-align:left;">
					<p><b>Matriculation Number</b> - {{ user_id }}</p>
					<p><b>Name</b> - {{ name }}</p>
					<p><b>Email</b> - {{ email }}</p>
					<p><b>Credit Amount</b> - SGD {{ credit_amount }}</p>
					<br/>
				</div>
				<button>Back</button>
			</form>
		</div>
	</div>
</body>

</html>