body {
    padding-top: 5rem;
}

td,
th {
    white-space: nowrap
}

.starter-template {
    text-align: center;
}

.hidden {
    display: none
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}